iframe#preview
  display: block
  border: 1px solid black
  +box-shadow()
  margin: 10px auto
  width: 90%

textarea
  display: block
  margin: 5px auto
  width= $blueprint-container-size - 20px

#admin_header
  position: fixed
  right: 0
  top: 0
  background: white
  padding: 5px
  margin: 5px
  @include border-radius(10px)
  @include box-shadow
  text-align: center

  img
    margin: 0 auto
    display: block

article

  header
    h1
      font-size: 3.5em
      font-weight: bold
      margin-bottom: 4px

      a
        color: inherit
        text-decoration: none

        &:hover
          text-decoration: underline

    time
      display: block
      font-family: $blueprint-fixed-font-family
      text-align: right